page-login {

  ion-title {
    text-align: center;
  }

  .logomarca {
    width: 160px;
  }

  img {
    width: auto;
    margin: auto;
    display: block;
  }

  .botao {
    margin-top: 40px;
  }

}
